@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fira-mono-v5-latin-regular.ttf');
}

@font-face {
    font-family: 'Pt Sans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/pt-sans-v8-latin-700.ttf');
}

@font-face {
    font-family: 'Pt Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/pt-sans-v8-latin-regular.ttf');
}
